﻿@model WebApplication3.Models.Ogla

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ogla</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.godina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.godina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.snaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.snaga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gorivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gorivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.karoserija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.karoserija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kontakt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kontakt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
