﻿
@model WebApplication3.Models.Ogla

@{
    ViewBag.Title = "Details";
}

<h2>Detalje</h2>

<div>
    <h4>Oglas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.godina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.godina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.snaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.snaga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gorivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gorivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.karoserija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.karoserija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kontakt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kontakt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
           <div>
               <img src="@Url.Content(Model.Photo)" width="350" />
            
           </div>
        </dd>
   
     

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
