﻿@model IEnumerable<WebApplication3.Models.Ogla>

@{
    ViewBag.Title = "Prikaz trenutnih oglasa";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj oglas", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.model)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.cena)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.marka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model)
        </td>
        
       
        <td>
            @Html.DisplayFor(modelItem => item.cena)
        </td>
       
        <td>
           
            
          <img src="@Url.Content(item.Photo)" width="150" />
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
